<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>My Movies</h1>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <h3>Add Movie</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <label for="title">Title: </label>
          <input
            type="text"
            name="title"
            id="title"
            class="form-control"
            ngModel
          />
          <br />
          <label for="genre">Genre: </label>
          <input
            type="text"
            name="genre"
            id="genre"
            class="form-control"
            ngModel
          />
          <br />
          <button class="btn btn-success" type="submit">Create Movie</button>
          <hr />
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" type="button" (click)="onFetchMovies()">
        Fetch Movies
      </button>
      <button class="btn btn-danger" type="button" (click)="onDeleteMovies()">
        Delete All Movies
      </button>
      <button class="btn btn-warning" type="button" (click)="getFakeData()">
        Error Test
      </button>
      <!-- CSS Loading Spinner -->
      <div class="lds-ring" *ngIf="this.isLoading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <br /><br />
      <div class="error-message badge bg-danger" *ngIf="this.errorMessage">
        {{ errorMessage.message }}
      </div>
      <h3>Submitted Movies:</h3>
      <div class="card" *ngFor="let movie of loadedMovies">
        <div class="card-body">
          <h6 class="card-title">{{ movie.title }}</h6>
          <p class="card-text">{{ movie.genre }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
